<a href="https://colab.research.google.com/github/youjin0512/study_data_analytics/blob/main/docs/pandas/pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

## colab 사용법

- 실행 셀 순서가 변수 값 적용 많은 영향

In [ ]:
number = 5

In [ ]:
number = 10

In [ ]:
number

5

## pandas

### Series (시리즈) = index + value
 - 단일 변수

In [ ]:
list = [4, 5, -3, 8]
series_numbers = pd.Series(list)   # pd.Series(list) = pd.Series([4, 5, -3, 8])   # pd.Series(list) : 생성자, series_numbers : 클래스
series_numbers

In [14]:
series_numbers, type(series_numbers)    # Series

(0    4
 1    5
 2   -3
 3    8
 dtype: int64,
 pandas.core.series.Series)

In [16]:
series_numbers.index, series_numbers.values, series_numbers.shape, series_numbers.dtype

(RangeIndex(start=0, stop=4, step=1),
 array([ 4,  5, -3,  8]),
 (4,),
 dtype('int64'))

In [15]:
list, type(list)  # python list

([4, 5, -3, 8], list)

In [20]:
pd.Series(['과자','음료','아이스크림','사탕'], index=['a','b','d','z'])

a       과자
b       음료
d    아이스크림
z       사탕
dtype: object

In [21]:
series_first = pd.Series([1,2,3,4])
series_second = pd.Series([5,6,7,8])

In [22]:
series_first + series_second

0     6
1     8
2    10
3    12
dtype: int64

In [27]:
result = series_first * series_second

In [28]:
result, type(result)

(0     5
 1    12
 2    21
 3    32
 dtype: int64,
 pandas.core.series.Series)

### DataFrame (데이터 프레임) = Series + Series + ...
- 다(복합) 변수

### loading dataset

In [ ]:
pd.read_csv("sample_data/california_housing_test.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0