<a href="https://colab.research.google.com/github/youjin0512/study_data_analytics/blob/main/docs/quests/EDAs/EDA_LentalCarOfContractType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## EDA(탐색 데이터 분석(Exploratory Data Analysis)) 각 과정에서 insight 도출
- 제안 1: 고객 충성도 예측
  - 문제 정의: 고객의 계약 유형, 연체 기록, 신용 등급, 마일리지 등을 바탕으로 고객의 충성도(예: 장기 계약 유지 여부)를 예측합니다.
  - 배경: 충성도 높은 고객을 식별하여 타겟 마케팅 전략을 수립하고, 서비스 개선을 통해 고객 유지율을 높일 수 있습니다.

In [1]:
import pandas as pd

In [3]:
df_LC = pd.read_csv('LentalCarOfContractType.csv')
df_LC.dropna(inplace=True)
df_LC.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40480 entries, 0 to 51303
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 40480 non-null  int64
 1   type_of_contract   40480 non-null  object
 2   type_of_contract2  40480 non-null  object
 3   channel            40480 non-null  object
 4   datetime           40480 non-null  object
 5   Term               40480 non-null  int64
 6   payment_type       40480 non-null  object
 7   product            40480 non-null  object
 8   amount             40480 non-null  int64
 9   state              40480 non-null  object
 10  overdue_count      40480 non-null  int64
 11  overdue            40480 non-null  object
 12  credit rating      40480 non-null  float64
 13  bank               40480 non-null  object
 14  cancellation       40480 non-null  object
 15  age                40480 non-null  float64
 16  Mileage            40480 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 5.6+ MB

### 기술 데이터 분석(DDA)

In [5]:
# 계약 유형 분포(범주형) 확인
df_LC['type_of_contract'].value_counts()
# # 대부분 고객은 렌탈 계약 유형을 선택
# 인사이트 : 렌탈 계약 유형에 대한 고객 선호도가 높음 반영, 마케팅 및 프로모션 전략 고려 할 필요 있음.

렌탈     38445
멤버십     2035
Name: type_of_contract, dtype: int64

In [6]:
# 연체 여부 분포 확인
df_LC['overdue'].value_counts()
# 연체자 수 39019명

없음    39019
있음     1461
Name: overdue, dtype: int64

In [7]:
# 연체 횟수 분포 확인
df_LC['overdue_count'].value_counts()
# 연체 횟수 0번 : 39007명, 주로 1~2회 연체 한 사람의 분포가 가장 크다.
# 인사이트 : 납부 연체한 고객에게 연체로 인한 위약금 발생 LMS 발송 및 연체금 납부를 위한 스팟성 프로모션 제고

 0     39007
 1       589
 2       269
 3       101
 12       87
 4        78
 10       54
 5        52
 7        44
 8        41
 11       37
 9        34
 14       31
 13       30
-1        12
 15       10
 6         4
Name: overdue_count, dtype: int64

In [8]:
df_LC[df_LC['overdue_count']== -1]['id']

1789     66760179
1795     66674030
1859     66757586
1901     66759913
1917     66759602
1920     66757694
25619    66699954
25637    66776702
25638    66428737
25677    66777727
25684    66772964
25686    66776547
Name: id, dtype: int64

In [10]:
# overdue_count(연체횟수) -1을 0으로 치환 (연체횟수에는 -1이 없고, -1로 표기된것 모두 연체이력이 없는것으로 확인됨)
df_LC['overdue_count'].describe().loc[]

SyntaxError: invalid syntax (<ipython-input-10-91c242392cae>, line 2)

In [11]:
df_LC['overdue_count'].describe()

count    40480.00000
mean         0.14627
std          1.08607
min         -1.00000
25%          0.00000
50%          0.00000
75%          0.00000
max         15.00000
Name: overdue_count, dtype: float64

In [12]:
# 신용 등급 분포 확인
df_LC['credit rating'].value_counts()
# 가장 우수한 1등급의 회원이 가장 많고, 2등급부터 밑으로 내려갈수록 회원의 숫자가 줄어드는 형세다.

1.0     10245
2.0      7811
4.0      5137
3.0      4777
5.0      4116
6.0      3624
7.0      2589
8.0      1466
9.0       610
0.0        60
10.0       45
Name: credit rating, dtype: int64

In [13]:
# 신용등급 1등급일때 연체횟수 분포 확인
df_LC[df_LC['credit rating'] == 1] ['overdue_count']
# 신용등급 1등급인 경우의 연체 횟수는 0회
# 인사이트 : 신용등급이 좋을수록 연체 횟수는 0에 가깝다.

6        0
9        0
10       0
11       0
13       0
        ..
51283    0
51286    0
51290    0
51292    0
51295    0
Name: overdue_count, Length: 10245, dtype: int64

In [14]:
overdue_df = df_LC[df_LC['overdue_count'] == 1]

In [15]:
# 연체 횟수 1회인 회원id별 신용등급
credit_rating_overdue_table = overdue_df[['id', 'credit rating']]
credit_rating_overdue_table

             id  credit rating
79     66747865            1.0
270    66758670            8.0
271    66758670            8.0
313    66755905            5.0
458    66756495            4.0
...         ...            ...
50786  66796573            5.0
50849  66796464            5.0
51004  66798075            6.0
51074  66799452            6.0
51217  66799372            9.0

[589 rows x 2 columns]

In [16]:
# 연체횟수가 1인 사람들의 신용등급
df_LC[df_LC['overdue_count'] ==1]['credit rating']

79       1.0
270      8.0
271      8.0
313      5.0
458      4.0
        ...
50786    5.0
50849    5.0
51004    6.0
51074    6.0
51217    9.0
Name: credit rating, Length: 589, dtype: float64